@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  .main-section {
    background-image: url('/header.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center center;
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-content {
      padding: 16px 0px;
      width: 50%;
    }
  }
}
